/* Coolors Exported Palette - coolors.co/bf9c7d-98a9ae-c67734-2e3532-e3dfff */

/* HSL */
$brown: hsla(28%, 34%, 62%, 1);
$gray: hsla(194%, 12%, 64%, 1);
$bronze: hsla(28%, 58%, 49%, 1);
$black: hsla(154%, 7%, 19%, 1);
$white: hsla(248%, 100%, 94%, 1);
$pureWhite: hsla(0%, 0%, 100%, 1);
$darkGreen: hsla(188%, 12%, 25%, 1);
$red: hsla(345%, 63%, 49%, 1);

/* RGB */
$brown: rgba(191, 156, 125, 1);
$gray: rgba(152, 169, 174, 1);
$bronze: rgba(198, 119, 52, 1);
$black: rgba(46, 53, 50, 1);
$white: rgba(227, 223, 255, 1);
$pureWhite: rgba(255, 255, 255, 1);
$darkGreen: rgba(57, 70, 72, 1);
$red: rgba(202, 46, 85, 1);

/* HEX */

$brown: #bf9c7d;
$gray: #98a9ae;
$bronze: #c67734;
$black: #2e3532;
$white: #e3dfff;
$pureWhite: #ffffff;
$darkGreen: #394648;
$red: #ca2e55;
