@import url("https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./palette.scss";

html {
  font-family: "Tomorrow", sans-serif;
}

<<<<<<< HEAD
h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  margin: 0;
=======
h1, h2, h3, h4 {
    font-family: 'Bebas Neue';
    font-weight: 700;
    margin: 0;
    font-style: normal;
>>>>>>> 017a79d0b2db14d126e8e17fa9810bc1ebaffe19
}

body {
  font-weight: 400;

  color: $pureWhite;
}

a {
  font-style: italic;
}

p {
  margin: 0;
}
