@import url('https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-family: 'Tomorrow', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    margin: 0;
}

body {
    font-weight: 400;
}

a {
    font-style: italic;
}

p {
    margin: 0;
}