<div
  *ngIf="interactionClicked"
  [id]="interactionState.name + '-item-component'"
  class="item-home-container hidden"
  (click)="clicked()"
>
  <div class="item-container" [id]="interactionState.name + '-item-object'">
    <img
      *ngIf="interactionDecision === '0'"
      class="resize"
      [src]="interactionState.pathToItemImageA"
    />
    <img
      *ngIf="interactionDecision === '1'"
      class="resize"
      [src]="interactionState.pathToItemImageB"
    />
  </div>
  <div *ngIf="interactionState.name === 'Handy'" class="tutorial">
    <div class="tutorial-object" id="rewatch">
      <p>Du kannst das Object nochmal klicken und die Szene erneut ansehen</p>
    </div>
    <div class="tutorial-object" id="newScene">
      <p>Du kannst andere Objekte ankilicken und neue Szenen ansehen</p>
    </div>
    <div class="tutorial-object" id="timeline">
      <p>
        Du kannst die Timeline öffnen - Hier werden die Szenen in
        chronologischer Reihenfolge angezeigt
      </p>
    </div>
    <div class="closer hide" id="closer" (click)="closeTutorial()">
      <span class="symbol">&#10005;</span>
    </div>
  </div>
</div>
