<div
  *ngIf="interactionClicked"
  [id]="interactionState.name + '-item-component'"
  class="item-home-container hidden"
>
  <div class="item-container" [id]="interactionState.name + '-item-object'">
    <div class="text">
      <p>Deine Entscheidung:</p>
    </div>
    <img
      *ngIf="interactionDecision === '1'"
      class="resize"
      [src]="interactionState.pathToItemImageA"
    />
    <img
      *ngIf="interactionDecision === '2'"
      class="resize"
      [src]="interactionState.pathToItemImageB"
    />
    <div class="close-button" (click)="close()">
      <!--Add svg-->
    </div>
  </div>
  <div
    *ngIf="interactionState.name === 'Handy' && !userState.hasSeenIntro"
    class="tutorial"
    [id]="interactionState.name + '-tutorial'"
  >
    <div class="rewatch-tutorial">
      <img src="/assets/pictures/homepage/Rewatch_Tutorial.svg" />
    </div>
    <div class="objects-tutorial">
      <img src="/assets/pictures/homepage/Objects_Tutorial.svg" />
    </div>
    <div class="timeline-tutorial">
      <img src="/assets/pictures/homepage/Timeline_Tutorial.svg" />
    </div>
  </div>
</div>
