<div
  *ngIf="interactionClicked"
  [id]="interactionState.name + '-item-component'"
  class="item-home-container hidden"
>
  <div class="item-container" [id]="interactionState.name + '-item-object'">
    <div class="text">
      <p>Deine Entscheidung:</p>
    </div>
    <img
      *ngIf="interactionDecision === '1'"
      class="resize"
      [src]="interactionState.pathToItemImageA"
    />
    <img
      *ngIf="interactionDecision === '2'"
      class="resize"
      [src]="interactionState.pathToItemImageB"
    />
    <div class="close-button" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 226.09 55"
        preserveAspectRatio="xMidYMid meet"
        pointer-events="none"
      >
        <g
          id="Item-close-button"
          transform="translate(909.959 5.999) rotate(90)"
        >
          <path
            id="Button_Shape"
            class="cls-1"
            d="M221.09,50H18.041L.1,25l-.1.134V0H221.09V50Z"
            transform="translate(-3.499 907.459) rotate(-90)"
          />
          <text
            id="Close_Text"
            class="cls-2"
            transform="translate(35.001 796.959) rotate(-90)"
          >
            <tspan x="-58.16" y="0">Schlißen</tspan>
          </text>
        </g>
      </svg>
    </div>
  </div>
  <div
    *ngIf="interactionState.name === 'Handy' && !userState.hasSeenIntro"
    class="tutorial"
    [id]="interactionState.name + '-tutorial'"
  >
    <div class="rewatch-tutorial">
      <img src="/assets/pictures/homepage/Rewatch_Tutorial.svg" />
    </div>
    <div class="objects-tutorial">
      <img src="/assets/pictures/homepage/Objects_Tutorial.svg" />
    </div>
    <div class="timeline-tutorial">
      <img src="/assets/pictures/homepage/Timeline_Tutorial.svg" />
    </div>
  </div>
</div>
