@import "../../../style/palette.scss";

.loading-screen-container {
  display: grid;
  place-content: center;

  .background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $black;
  }
  h1 {
    z-index: 1;
    color: $white;
  }
}
