<!-- Use preloader for caching images so loadtimes are fast-->
<div class="preloader">
  <img src="/assets/pictures/room/room-pov1.jpg" alt="" />
  <img src="/assets/pictures/room/room-pov2.jpg" alt="" />
  <img src="/assets/pictures/room/room-pov3.jpg" alt="" />
  <div id="sound-player"></div>
</div>
<main *ngIf="landscapeModeSubject | async; else elseBlock" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<ng-template #elseBlock>
  <div class="portrait-container">
    <img src="assets/pictures/homepage/Turn-screen.png" alt="" />
  </div>
</ng-template>
