<div class="movie-home-container">
  <div class="movie-pov-wrapper">
    <app-movie-point-of-view
      *ngIf="currentPov === 'pov1'"
      [id]="currentPov"
    ></app-movie-point-of-view>
    <app-movie-point-of-view
      *ngIf="currentPov === 'pov2'"
      [id]="currentPov"
    ></app-movie-point-of-view>
    <app-movie-point-of-view
      *ngIf="currentPov === 'pov3'"
      [id]="currentPov"
    ></app-movie-point-of-view>
    <!--<app-movie-item
      *ngFor="let interactionState of interactionStateArray"
      [interactionState]="interactionState"
    ></app-movie-item>-->
    <app-movie-scene *ngFor="let s of sceneArray" [scene]="s"></app-movie-scene>
    <app-timeline></app-timeline>
  </div>
  <div
    *ngIf="currentPov === 'pov1' || currentPov === 'pov2'"
    id="rightNav"
    class="right-navigation"
    (click)="rightNavigation()"
  ></div>
  <div
    *ngIf="currentPov === 'pov2' || currentPov === 'pov3'"
    id="leftNav"
    class="left-navigation"
    (click)="leftNavigation()"
  ></div>
</div>

<div *ngIf="showIntro" class="intro" id="intro">
  <div id="production" class="production-cont hidden">
    <p>A</p>
    <h1>Sleepless nights</h1>
    <p>Production</p>
  </div>
  <div id="coop" class="coop hidden">
    <p>In cooperation with</p>
    <h1>Caffine cinematic</h1>
  </div>
</div>
