@import "../../../style/palette.scss";

.movie-home-container {
  width: 100vw;
  height: 100vh;

  background-color: $black;

  display: grid;

  grid-template-columns: auto 50px 85vw 50px auto;
  grid-template-rows: auto calc(85vw * 0.5625) auto;

  grid-template-areas:
    " . . . . ."
    " . leftNav content rightNav . "
    " . . . . . ";

  .movie-pov-wrapper {
    grid-area: content;
    overflow: hidden;
  }

  .left-navigation {
    grid-area: leftNav;

    background-image: linear-gradient(-90deg, $bronze, $brown);
    display: flex;
    align-items: center;

    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  #leftNav:hover {
    background-image: linear-gradient(-120deg, $bronze, $brown);
  }

  #rightNav:hover {
    background-image: linear-gradient(-120deg, $bronze, $brown);
  }

  .right-navigation {
    grid-area: rightNav;

    background-image: linear-gradient(90deg, $bronze, $brown);

    cursor: pointer;

    &.hidden {
      display: none;
    }
  }
   
  .arrow {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    background-size: contain;
    transform: rotate(90deg);
  }
}
