<div
  *ngIf="checkDecisionPos()"
  [id]="interaction.sceneId + decision.decisionPos + '-decision'"
  class="hidden"
>
  <div id="decision-1" class="decision hidden" (click)="clickDecision('1')">
    <div class="headline-container">
      <h1>{{ decision.decisionContent.decision1Headline }}</h1>
    </div>
    <div class="content-container">
      <p>{{ decision.decisionContent.decision1Content }}</p>
    </div>
    <div class="background"></div>
  </div>
  <div id="decision-2" class="decision hidden" (click)="clickDecision('2')">
    <div class="headline-container">
      <h1>{{ decision.decisionContent.decision2Headline }}</h1>
    </div>
    <div class="content-container">
      <p>{{ decision.decisionContent.decision2Content }}</p>
    </div>
    <div class="background"></div>
  </div>
  <div
    [id]="interaction.sceneId + decision.decisionPos + '-decision-completed'"
    class="decision-complete hidden"
  >
    <div class="headline-container">
      <h1 *ngIf="checkCompletedDecision('1')">
        {{ decision.decisionContent.decision1Headline }}
      </h1>
      <h1 *ngIf="checkCompletedDecision('2')">
        {{ decision.decisionContent.decision2Headline }}
      </h1>
    </div>
    <div class="content-container">
      <p *ngIf="checkCompletedDecision('1')">
        {{ decision.decisionContent.decision1Content }}
      </p>
      <p *ngIf="checkCompletedDecision('2')">
        {{ decision.decisionContent.decision2Content }}
      </p>
    </div>
    <div class="background"></div>
  </div>
</div>
