@import "../../../style/palette.scss";

[id$="-decision"] {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 3;

  transition: opacity 2s ease-out;

  &.fade {
    opacity: 0;
  }

  &.hidden {
    z-index: -1;
  }

  .decision {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;

    transition: opacity 1s ease-out;

    display: grid;

    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 30% auto 100px;

    cursor: pointer;

    .background {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0.5;
      background-color: $black;
      z-index: -1;
    }

    &.clicked {
      .background {
        background-color: $white;
      }
    }

    &#decision-1 {
      border-right: $black 3px solid;

      grid-template-areas:
        ". . ."
        ". headline ."
        "arrow content ."
        ". . .";

      &.hidden {
        //transform: translateX(-120%);
        z-index: 0;
        opacity: 0;
      }

      &.close-right {
        //transform: translateX(220%);
        z-index: 0;
        opacity: 0;
      }
      &.close-left {
        //transform: translateX(-220%);
        z-index: 0;
        opacity: 0;
      }

      &:hover {
        .background {
          opacity: 0.7;
        }
      }
    }

    &#decision-2 {
      left: 50%;
      border-left: $black 3px solid;

      grid-template-areas:
        ". . ."
        ". headline ."
        ". content arrow"
        ". . .";

      &.hidden {
        //transform: translateX(120%);
        z-index: 0;
        opacity: 0;
      }

      &.close-right {
        //transform: translateX(220%);
        z-index: 0;
        opacity: 0;
      }
      &.close-left {
        //transform: translateX(-220%);
        z-index: 0;
        opacity: 0;
      }

      &:hover {
        .background {
          opacity: 0.7;
        }
      }

      .headline-container {
        align-self: start;
        justify-self: end;
      }

      .content-container {
        grid-area: content;

        padding: 20px;
        border: $white 1px solid;

        align-self: end;
        justify-self: end;
      }

      .arrow-container {
        margin-left: 50px;
        margin-right: 0;

        align-self: center;
        justify-self: center;
      }
    }

    div[class$="-container"] {
      width: auto;
      height: auto;
    }

    .headline-container {
      grid-area: headline;

      padding: 20px;
      border: $white 1px solid;

      align-self: start;
      justify-self: start;

      h1 {
        font-size: 80px;
      }

      @media screen and (max-width: 1500px) {
        h1 {
          font-size: 50px;
        }
      }

      @media screen and (max-width: 1000px) {
        h1 {
          font-size: 30px;
        }
      }
    }

    .content-container {
      grid-area: content;

      padding: 20px;
      border: $white 1px solid;

      align-self: end;
      justify-self: start;

      p {
        font-size: 25px;
      }

      @media screen and (max-width: 1500px) {
        h1 {
          font-size: 20px;
        }
      }

      @media screen and (max-width: 1000px) {
        h1 {
          font-size: 10px;
        }
      }
    }

    .arrow-container {
      grid-area: arrow;

      margin-right: 50px;

      align-self: center;
      justify-self: center;

      font-size: 80px;
      cursor: pointer;

      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .decision-complete {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 3;

    transition: opacity 1s ease-out;

    display: grid;

    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 30% auto 100px;
    grid-template-areas:
      ". . ."
      ". headline ."
      ". content ."
      ". . .";

    .background {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0.5;
      background-color: $black;
      z-index: -1;
    }

    div[class$="-container"] {
      width: auto;
      height: auto;
    }

    .headline-container {
      grid-area: headline;

      padding: 20px;
      border: $white 1px solid;

      align-self: start;
      justify-self: center;

      h1 {
        font-size: 5em;
      }
    }

    .content-container {
      grid-area: content;

      padding: 20px;
      border: $white 1px solid;

      align-self: end;
      justify-self: center;

      p {
        font-size: 1.5em;
      }
    }

    &.fade {
      opacity: 0;
    }

    &.hidden,
    &.hidden .background {
      opacity: 0;
      z-index: -10;
    }
  }
}
