<div class="impressum-container">
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Credits</a></li>
                <li><a href="#">Movie</a></li>
            </ul>
        </nav>
    </header>
    <section id="title-impressum"> 
        <h1>Impressum</h1>
    </section>

    <section id="operators">
        <h2>Betreiber</h2>
        <div class="op-name">
            <h3>Name: </h3>
            <p>Stocker, Benedikt</p>
            <p>Aescht, Tobias</p>
            <p>Eder, Benjamin</p>
            <p>Vogel, Jan</p>
            <p>Salzmann, Daniel</p>
        </div>
    </section>

    <section id="contact">
        <h2>Kontakt</h2>
        <div class="op-mail">
            <h3>E-Mail: </h3>
            <a href="mailto:benedikt.stocker@uni-ulm.de"><p>benedikt.stocker@uni-ulm.de</p></a>
            <a href="mailto:tobias.aescht@uni-ulm.de"><p>tobias.aescht@uni-ulm.de</p></a>
            <a href="mailto:benjamin.eder@uni-ulm.de"><p>benjamin.eder@uni-ulm.de</p></a>
            <a href="mailto:jan.vogel@uni-ulm.de"><p>jan.vogel@uni-ulm.de</p></a>
            <a href="mailto:daniel.salzmann@uni-ulm.de"><p>daniel.salzmann@uni-ulm.de</p></a>
        </div>
    </section>

    <section id="disclaimer">
        <h2>Disclaimer</h2>
        <div class="laws">
            <p>Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in ideeller und materieller Sicht des Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen schriftlichen Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes. Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt. Sind die Inhalte auf unserer Webseite nicht von uns erstellt wurden, sind die Urheberrechte Dritter zu beachten. Die Inhalte Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte unverzüglich entfernen.</p>
        </div>
    </section>
</div>
