@import "../../style/palette.scss";

.impressum-container {
  overflow-y: hidden;
  position: relative;

  background-color: $black;

  width: 100vw;
  height: 100vh;

  display: grid;

  overflow-y: hidden;
  background-color: $black;

  grid-template-columns: 100px auto 69% 100px;
  grid-template-rows: 50px 25% auto 46% 50px;

  grid-template-areas:
    " logo . . . "
    " . home impressum . "
    " . . . . "
    " . . infos . "
    " . nothing . . ";

  

    #impressum-title {
      grid-area: impressum;

      top: -15%;
      right: -13.8%;

      position: relative;
      border-style: none;
      padding: 1.5% 9% 1.5% 9%;
      justify-self: center;
      align-self: center;
  
      h1 {
        border-style: none;
      }
    }
  
    #impressum-title {
      .background {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        opacity: 0.6;
        z-index: 0;
      }
      h1,
      h2 {
        position: relative;
        z-index: 1;
        font-size: 7.8125vw;
        letter-spacing: 1.04vw;
        color: $black;
      }
    }
    
    #home-button {
      grid-area: home;
  
      //text-align: left;
      z-index: 1;
      border-style: none;
  
      position: sticky;
      top: 12vw;
  
      a {
        text-decoration: none;
        text-transform: uppercase;
        border-style: solid;
        border-width: 3px;
        //padding: 0 16% 0 16%;
  
        color: $white;
        font-size: 1.875vw;
        font-style: normal;
  
        h1 {
          color: $white;
          border-style: none;
          letter-spacing: 0.4vw;
        }
  
        &:hover {
  
          background-color: rgba($color: $white, $alpha: 0.6);
  
          h1 {
            color: $black;
          }
        }
      }
    }
    
    #operators {
      margin-top: 100px;
      text-align: center;
      color: white;
      border-style: solid;
    }

    .logo {
      grid-area: logo;

      #logo {
        position: sticky;
      }

      img {
        top: 0;
        left: 0;
        width: 75vw;
        height: 95vh;
      }
    }

    #site {
      grid-area: infos;
      z-index: 1;

      border-style: solid;
      border-width: 1px;
    }

    #nothing {
      grid-area: nothing;
  
      border-style: none;
    }
    
    /**
    #site {
      grid-area: infos;
    
      margin-top: 10%;
      margin-right: 5%;
      margin-left: 25%;
      margin-bottom: 2%;
      text-align: center;
      color: white;
      border-style: solid;
      border-width: 1px;
      padding-right: 15px;
      padding-left: 15px;
      .op-name {
        margin-top: 10px;
        border: none;
        p {
          font-size: 15px;
        }
      }
      .op-tp {
        margin-top: 15px;
        border: none;
        p {
          font-size: 15px;
          color: white;
          font-style: normal;
        }
      }
      .op-disc {
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        p {
          font-size: 12px;
          text-align: justify;
        }
      }
    } **/
}

/**
section {
  h1 {
    display: inline;
    border-style: solid;
    border-width: 1px;
    font-size: 80px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  h2 {
    border: none;
    border-width: 1px;
  }
  h3 {
    border: none;
    text-decoration: unset;
    font-size: 20px;
  }
  h4 {
    display: inline;
    border-style: solid;
    border-width: 1px;
    font-size: 40px;
    color: white;
    font-style: normal;
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
} **/
