<div class="impressum-container">
  <header></header>
  <section id="home-button">
    <a routerLink="/"><h4>&lt; Home</h4></a>
  </section>
  <section id="title-impressum">
    <h1>Impressum</h1>
  </section>

  <section id="site">
    <div class="op-name">
      <h2>Bereitgestellt durch:</h2>
      <p>Tobias Aescht</p>
      <p>Holderweg 23</p>
      <p>89075 Ulm</p>
      <h3>Kontakt:</h3>
      <p>tobias@aescht.net</p>
      <p>+49 179 3660208</p>
    </div>
    <div class="op-tp">
      <h2>E-Mail's Team Pünktlich:</h2>
      <a href="mailto:benedikt.stocker@uni-ulm.de"><p>Benedikt Stocker</p></a>
      <a href="mailto:benjamin.eder@uni-ulm.de"><p>Benjamin Eder</p></a>
      <a href="mailto:jan.vogel@uni-ulm.de"><p>Jan Vogel</p></a>
      <a href="mailto:daniel.salzmann@uni-ulm.de"><p>Daniel Salzmann</p></a>
      <a href="mailto:tobias.aescht@uni-ulm.de"><p>Tobias Aescht</p></a>
    </div>
    <div class="op-disc">
      <h2>Disclaimer</h2>
      <p>
        Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen
        dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
        Verbreitung und jede Art der Verwertung des geistigen Eigentums in
        ideeller und materieller Sicht des Urhebers außerhalb der Grenzen des
        Urheberrechtes bedürfen der vorherigen schriftlichen Zustimmung des
        jeweiligen Urhebers i.S.d. Urhebergesetzes. Downloads und Kopien dieser
        Seite sind nur für den privaten und nicht kommerziellen Gebrauch
        erlaubt. Sind die Inhalte auf unserer Webseite nicht von uns erstellt
        wurden, sind die Urheberrechte Dritter zu beachten. Die Inhalte Dritter
        werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte unverzüglich entfernen.
      </p>
    </div>
  </section>
</div>
