.video-container {
  width: 100%;
  height: 100%;

  video {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    transition: opacity 1.5s ease-in-out;

    &.hiddenVideo {
      z-index: 0;
      opacity: 0;
    }
  }
  .closeVideo {
    opacity: 0;
  }
}
