video {
    position: absolute;

    width: 100%;
    height: 100%;
}

.intro {

    top: 0;
    left: 0;
}

.alt-1 {
    position: absolute;

    top: 100vh;
    left: 0;
}

.alt-2 {
    position: absolute;

    top: 100vh;
    left: 0;
}

.outro {
    position: absolute;

    top: 100vh;
    left: 0;
}