<div class="video-container">
  <video
    [id]="scene.sceneId + '-' + video.sequencePosition"
    [class]="getVideoClass(video.sequencePosition)"
    (click)="videoClick($event)"
    (ended)="videoEnded()"
    #videoPlayer
  >
    <source [src]="video.pathToVideo" type="video/mp4" />
  </video>
  <!--<app-movie-exit-button></app-movie-exit-button> -->
  <img
    class="playButton hidden"
    [id]="scene.sceneId + '-' + video.sequencePosition + '-button'"
    src="/assets/pictures/Play_Button.png"
  />
</div>
