<div class="home-container">
  <div class="water" id="background">
    <div class="headline" id="healine" (click)="startMovie()">
      <h1>OUT OF IT</h1>
      <div class="background" id="button-background"></div>
    </div>

    <div class="menu" id="menu">
      <div class="credits">
        <div class="background"></div>
        <a routerLink="/credits"><h2>Credits</h2></a>
      </div>
      <div class="impressum">
        <div class="background"></div>
        <a routerLink="/impressum"><h2>Impressum</h2></a>
      </div>
    </div>
  </div>
</div>
