.home-container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: auto 960px auto;
    grid-template-rows: auto 150px 390px auto;

    grid-template-areas: 
    ". . ."
    ". Headline ."
    ". Menu ."
    ". . .";

    .headline {
        grid-area: Headline;
        
        justify-self: center;
        align-self: center;
    }

    .menu {
        grid-area: Menu;
        
        justify-self: center;
        align-self: center;

        text-align: center;

        a {
            text-decoration: none;
            font-style: normal;
            color: black;

            p {
                padding: 20px;
            }
        }
    }
}