@import "../../style/palette.scss";

.home-container {
  width: 100vw;
  height: 100vh;

  background-color: $black;
  overflow: hidden;

  .water {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: auto 50vw auto;
    grid-template-rows: auto 20.3125vw 20.3125vw auto;

    grid-template-areas:
      ". . ."
      ". Headline ."
      ". Menu ."
      ". . .";

    background: url(../../../assets/pictures/watermark_home.svg) no-repeat;
    background-size: 71vw;
    //background-position: bottom left;
    background-position: 0 100%;

    &.hide {
      background: none;
      background-color: black;
    }
  }

  .headline,
  .menu {
    cursor: pointer;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: 0.6;
      z-index: 0;

      &.hide {
        background-color: black;
        color: $white;
      }
    }
    h1,
    h2 {
      position: relative;
      z-index: 1;
      font-size: 7.81235vw;
      letter-spacing: 1.5625vw;
      color: $black;
    }
    a {
      text-decoration: none;
    }

    &.hide {
      display: none;
    }

    &.start {
      h1 {
        color: $white;
      }
    }
  }

  .headline {
    position: relative;
    grid-area: Headline;
    border: $white;
    border-style: solid;
    border-width: 5px;
    padding: 0 2.6vw;
    justify-self: center;
    align-self: center;

    &:hover {
      .background {
        background-color: $black;
        opacity: 1;

        &.hide {
          background-color: black;
        }
      }
      h1 {
        color: $white;
      }
    }
  }

  .menu {
    position: relative;
    grid-area: Menu;

    justify-self: center;
    align-self: center;

    text-align: center;

    .credits,
    .impressum {
      position: relative;
      width: 15vw;
      height: 2.81vw;

      border: 3px solid $white;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 0;
        background-color: $white;
      }

      h2 {
        font-size: 1.82vw;
        letter-spacing: 0.41vw;
        color: $white;
      }

      &:hover {
        .background {
          opacity: 0.6;
        }
        h2 {
          color: $black;
        }
      }
    }

    .credits {
      margin-bottom: 1vw;
    }
  }
}
