<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Credits</title>
        <link href="credits.component.scss">
    </head>
    <body>
        <section id="credits-title">
            <div class="container"> 
                <h1 style='border:1px black solid; font-size: 60px;'>Credits</h1>
            </div>
        </section>
    
        <section id="team">
            <h2 style='border:1px black solid;'>Team Pünktlich</h2>
            <div class="container">
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Benedikt Stocker</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Benjamin Eder</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Daniel Salzmann</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Tobias Aescht</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Jan Vogel</p>
                </div>
            </div>
        </section>

        <section id="docent">
            <div class="container">
                <h2 style='border:1px black solid;'>Betreuer</h2>
            </div>
            <div class="docent-member">
                <p>Jens Kramer</p>
            </div>
        </section>

        <section id="actors">
            <div class="container">
                <h2 style='border:1px black solid;'>Schauspieler</h2>
            </div>
            <div class="actors-member">
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>
                <p>abc</p>   
            </div>
        </section>
    </body>
</html>

