body{
    padding:0;
    margin:0;

    overflow-y: scroll;
}

h1{
    display: inline;   
}


  /* Global */
.container{
    width:100%;
    margin:auto;

    border-style: none;
}

ul{
  margin:0;
  padding:0;
}
    
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}  

  /* Header */

header{
    padding-top:30px;
    min-height:70px;
    border-bottom:#000000 1px solid;
  }
  
header a{
    text-decoration:none;
    text-transform: uppercase;
  }
  
header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
header nav{
    float:left;
    margin-top:10px;
  }
  
header .current a{
    color:#000000;
    font-weight:bold;
  }
  
header .current a:hover{
    color:#4d4d4d;
    font-weight:bold;
  }
  
  /* Boxes */
#team{
    margin-top:100px;
    text-align: center;
}
  
#team .team-member{
    float:left;
    text-align: center;
    width:20%;
    padding:10px;
    margin-top: 20px;

    border-style: none;
}
  
#team .team-member img{
    width:90px;
}
  
  /* Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}
  
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}
  
  /* Main-col */
article#main-col{
    float:left;
    width:65%;
}

#credits-title{
    padding:15px;
    text-align: center;
    margin-top:50px;

    min-height:100px;

}
 
/* Section Docent */

#docent{
    padding:15px;
    text-align: center;
    margin-top:200px;
  
    min-height:100px;
  
} 

#docent .docent-member{
    margin-top: 50px;
    border-style: none;
}

/* Sections */

#sectors{
    padding:15px;
    text-align: center;
    margin-top:50px;
    
    min-height:100px;
    } 
#sectors .sectors-member{
    margin-top: 25px;
    border-style: none;  
} 

#sectors h3{
  margin-top: 50px;
  border-style: none;  
} 


/* Media Queries */
@media(max-width: 768px){
    #team .team-member,
    header nav,
    header nav li,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
}
