<div class="credits-container">
        <header>
            <nav>
            <ul>
                <li class="current"><a href="index.html">Home</a></li>
            </ul>
            </nav>
        </header>
    
        <section id="credits-title">
            <h1>Credits</h1>
        </section>
    
        <section id="team">
            <h2>Team Pünktlich</h2>
            <div class="team-member">
                <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                <p>Benedikt Stocker</p>
            </div>
            <div class="team-member">
                <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                <p>Benjamin Eder</p>
            </div>
            <div class="team-member">
                <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                <p>Daniel Salzmann</p>
            </div>
            <div class="team-member">
                <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                <p>Jan Vogel</p>
            </div>
            <div class="team-member">
                <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                <p>Tobias Aescht</p>
            </div>
        </section>
    
        <section id="docent">
            <h2>Betreuer</h2>
            <div class="docent-member">
                <p>Jens Kramer</p>
            </div>
        </section>
    
        <section class="sectors">
            <h2>Schauspieler</h2>
            <h3 >Hauptrollen</h3>
            <div class="sectors-member">
                <p>Ahmed Malik als Nick</p>
                <p>Benedikt Stocker als Steve</p>
                <p>Benjamin Eder als Chad</p> 
                <p>Daniel Salzmann als Tim</p>
            </div>
            <h3 >Statisten</h3>
            <div class="sectors-member">
                <p>Jan Vogel</p>
                <p>Janina L.</p>
                <p>Jonathan Schneider</p>
                <p>Jonathan W.</p> 
                <p>Maike Gregersen</p>
                <p>Onur Özkeles</p>
                <p>Philip Funk</p>
                <p>Raphael Reich</p>
                <p>Tobias Aescht</p> 
            </div>
        </section>
    
        <section class="sectors">
            <h2>Kamera</h2>
            <h3 >Verantwortliche</h3>
            <div class="sectors-member">
                <p>Benedikt Stocker</p>
                <p>Benjamin Eder</p>
            </div>
            <h3 >Aushilfe</h3>
            <div class="sectors-member">
                <p>Jan Vogel</p>
                <p>Tobias Aescht (u. a. Making-of)</p>
            </div>
        </section>
    
        <section class="sectors">
            <h2>Ton</h2>
            <div class="sectors-member">
                <p>Jan Vogel</p>
            </div>
        </section>
    
        <section class="sectors">
            <h2>Videoschnitt</h2>
            <div class="sectors-member">
                <p>Benjamin Eder</p>
            </div>
        </section>
    
        <section class="sectors">
            <h2>InteractiveMovieApp</h2>
            <div class="sectors-member">
                <p>Benedikt Stocker</p>
                <p>Daniel Salzmann</p>
                <p>Jan Vogel</p>
                <p>Tobias Aescht</p>
            </div>
        </section>
</div>