<div class="credits-container">
    <div class="content">
        <div id="credits-title">
            <h1>Credits</h1>
        </div>
        <div id="team">
            <h2>Team Pünktlich</h2>
            <div class="row">
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Benedikt Stocker</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Benjamin Eder</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Daniel Salzmann</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Jan Vogel</p>
                </div>
                <div class="team-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Tobias Aescht</p>
                </div>
            </div>
        </div>
    
        <div id="docent">
            <h2>Betreuer</h2>
            <div class="row">
                <div class="docent-member">
                    <img src="assets/pictures/room/room-pov1.jpg" alt="a">
                    <p>Jens Kramer</p>
                </div>
            </div>
        </div>
    
        <div class="sectors">
            <h2>Schauspieler</h2>
            <h3 >Hauptrollen</h3>
            <div class="sectors-member">
                <p>Ahmed Malik als Nick</p>
                <p>Benedikt Stocker als Steve</p>
                <p>Benjamin Eder als Chad</p> 
                <p>Daniel Salzmann als Tim</p>
            </div>
            <h3 >Statisten</h3>
            <div class="sectors-member">
                <p>Jan Vogel</p>
                <p>Janina L.</p>
                <p>Jonathan Schneider</p>
                <p>Jonathan W.</p> 
                <p>Maike Gregersen</p>
                <p>Onur Özkeles</p>
                <p>Philip Funk</p>
                <p>Raphael Reich</p>
                <p>Tobias Aescht</p> 
            </div>
        </div>
    
        <div class="sectors">
            <h2>Kamera</h2>
            <h3 >Verantwortliche</h3>
            <div class="sectors-member">
                <p>Benedikt Stocker</p>
                <p>Benjamin Eder</p>
            </div>
            <h3 >Aushilfe</h3>
            <div class="sectors-member">
                <p>Jan Vogel</p>
                <p>Tobias Aescht (u. a. Making-of)</p>
            </div>
        </div>
    
        <div class="sectors">
            <h2>Ton</h2>
            <div class="sectors-member">
                <p>Jan Vogel</p>
            </div>
        </div>
    
        <div class="sectors">
            <h2>Videoschnitt</h2>
            <div class="sectors-member">
                <p>Benjamin Eder</p>
            </div>
        </div>
    
        <div class="sectors">
            <h2>InteractiveMovieApp</h2>
            <div class="sectors-member">
                <p>Benedikt Stocker</p>
                <p>Daniel Salzmann</p>
                <p>Jan Vogel</p>
                <p>Tobias Aescht</p>
            </div>
        </div>
    </div>
    <div class="side-bar">
        <div style="position: absolute; z-index: 1;" class="home-button">
            <a href="index.html" style="z-index: 1;">Home></a>
        </div> 
        <div class="logo">
            <img style="position: absolute; z-index: 2;" alt="Logo" src="assets\pictures\room\pov1\logo.svg" style="z-index: 0;">
        </div>
    </div>
</div>