<div class="back-button-container">
    <div class="home-button">
        <button (click)="popup()" class="button" id="123">
            <h1>Zurück</h1>
        </button>
    </div>
    <div id="popup" class="popup">
        <button (click)="close()" class="close"></button>
        <div class="popup-content">
            <p>Soll der Fortschritt<br /> gespeichert werden?</p>
            <div id="yesno">
                <div id="yes">
                    <button routerLink="/" class="button">
                        <p>Ja</p>
                    </button>
                </div>
                <div id="no">
                    <button routerLink="/" class="button" (click)="resetData()">
                        <p>Nein</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>