@import "../../../style/palette.scss";
@import "../../../style/typography.scss";

.back-button-container {

  position: relative;

  .home-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 15%;
    height: 24%;

    cursor: pointer;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .cls-1 {
        fill: #2e3532;
        stroke: #e3dfff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
      }

      .cls-2 {
        fill: #e3dfff;
        font-size: 40px;
        font-family: BebasNeue-Regular, Bebas Neue;
      }
    }

    &:hover {
      svg {
        .cls-1 {
          fill: rgba(227, 223, 255, 1);
        }
        .cls-2 {
          fill: rgba(46, 53, 50, 1);
        }
      }
    }
  }

  .layover {
    position: relative;
    top: 0;
    left: 0;
    width: 33%;
    height: 25%;
    z-index: 1;

    transition: transform 1s ease;

    &.hidden {
      transform: translateY(-100%);
    }

    .layover-wrapper {

      width: 100%;
      height: 0;
      padding-top: 47%;
      position: relative;

      svg {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .cls-1, .cls-3 {
          fill: #2e3532;
          stroke: #e3dfff;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
  
        .cls-1 {
          stroke-width: 5px;
        }
  
        .cls-2, .cls-4 {
          fill: #e3dfff;
          font-family: BebasNeue-Regular, Bebas Neue;
        }
  
        .cls-2 {
          font-size: 46px;
        }
  
        .cls-3 {
          stroke-width: 2px;
          cursor: pointer;
        }
  
        .cls-4 {
          font-size: 24px;
          cursor: pointer;
        }

        #Back_Button:hover, #Back_Button-2:hover {
          transition: fill 0.5s ease;

          .cls-3 {
            fill: #e3dfff;
          }

          .cls-4 {
            fill: #2e3532;
          }
        }
      }
    }
  }

  .close {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
  }

  .button {
    background: $black;
    color: $white;
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4vw;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;

    p {
      padding-left: 2.2vw;
      padding-right: 2.2vw;
      padding-top: 0.624375vw;
      padding-bottom: 0.624375vw;
    }

    :hover {
      cursor: pointer;
      color: $pureWhite;
    }
  }

  .popup {
    z-index: 1;
    background: rgba($color: $black, $alpha: 0.6);
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      display: block;
    }

    p {
      margin-top: 2vw;
      font-size: 1.87vw;
      color: $white;
      line-height: 2.75vw;
    }

    .button {
      p {
        margin-top: 0;
      }
    }

    .popup-content {
      height: 37.5%;
      width: 37.5%;
      background-color: $black;
      border-radius: 1%;
      position: relative;
    }

    #yesno {
      display: flex;
      justify-content: space-between;
      margin-top: 4vw;
      #yes {
        margin-left: 2vw;
      }
      #no {
        margin-right: 2vw;
      }
    }
  }
}
