<div class="timeline-object-container">
  <img
    *ngIf= "objectClicked"
    objectName="'Unterhose'"
    id="a"
    name="'Unterhose'"
    src="assets\pictures\room\Timeline_Objects\object_1.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="b"
    src="assets\pictures\room\Timeline_Objects\object_2.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="c"
    src="assets\pictures\room\Timeline_Objects\object_3.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="d"
    src="assets\pictures\room\Timeline_Objects\object_4.png"
    alt=""
  />
  <img
    *ngIf= "objectClicked"
    objectName="'Unterhose'"
    id="e"
    name="'Unterhose'"
    src="assets\pictures\room\Timeline_Objects\object_1.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="f"
    src="assets\pictures\room\Timeline_Objects\object_2.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="g"
    src="assets\pictures\room\Timeline_Objects\object_3.png"
    alt=""
  />
  <img
    *ngIf="objectClicked"
    id="h"
    src="assets\pictures\room\Timeline_Objects\object_4.png"
    alt=""
  />
</div>
