.timeline-object-container {
  width: auto;
  height: auto;

  
  #a{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: 0;
  }
  #b{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(100%/8);
  }
  #c{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(2*100%/8);
  }
  #d{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(3*100%/8);
  }
  #e{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(4*100%/8);
  }
  #f{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(5*100%/8);
  }
  #g{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(6*100%/8);
  }
  #h{
    height: 100%;
    width: calc(100%/8);
    position: absolute;
    top: 0;
    left: calc(7*100%/8);
  }

}
