<div class="timeline-object-container">
  <img
    *ngIf= "ifUnterhose()"
    id="a"
    src="assets\pictures\room\Timeline_Objects\object_1.png"
    alt=""
  />
  <img
    *ngIf="ifBier()"
    id="b"
    src="assets\pictures\room\Timeline_Objects\object_2.png"
    alt=""
  />
  <img
    *ngIf="ifJacke()"
    id="c"
    src="assets\pictures\room\Timeline_Objects\object_3.png"
    alt=""
  />
  <img
    *ngIf="ifEinkaufszettel()"
    id="d"
    src="assets\pictures\room\Timeline_Objects\object_4.png"
    alt=""
  />
  <img
    *ngIf="ifHandy()"
    id="e"
    src="assets\pictures\room\Timeline_Objects\object_1.png"
    alt=""
  />
  <img
    *ngIf="ifComputer()"
    id="f"
    src="assets\pictures\room\Timeline_Objects\object_2.png"
    alt=""
  />
  <img
    *ngIf="ifZeitung()"
    id="g"
    src="assets\pictures\room\Timeline_Objects\object_3.png"
    alt=""
  />
  <img
    *ngIf="ifNummer()"
    id="h"
    src="assets\pictures\room\Timeline_Objects\object_4.png"
    alt=""
  />
</div>
