.movie-scene-container {
    top: 0;
    left: -100vw;

    .show {
        position: absolute;

        width: 1920px;
        height: 1080px;

        top: 0;
        left: 0;

        z-index: 100;

        background-color: black;
    }
}