<div id="{{ scene.sceneId }}" class="hidden">
  <div class="closer" (click)="closeButton()">
    <span class="symbol">&#10005;</span>
  </div>
  <app-movie-video
    *ngFor="let video of scene.videoSequence"
    [scene]="scene"
    [video]="video"
    [sceneActive]="sceneActive"
    (endedVideo)="onVideoEnded($event)"
  ></app-movie-video>
  <app-movie-decision
    *ngFor="let decision of decisionArray"
    [scene]="scene"
    [decision]="decision"
    [decisionArray]="userDecision"
    [currentDecision]="currentDecision"
    (decisionClick)="onDecisionClick($event)"
  ></app-movie-decision>
</div>
