.movie-scene-container {

    [id^=pov] {
        position: absolute;

        width: 1920px;
        height: 1080px;

        z-index: 100;

        background-color: black;

        transition: all 2s;
    }

    .hidden {
        top: 100%;

        opacity: 0.5;
    }

    .show {
        top: 0;
        left: 0;

        opacity: 1;
    }
}