<div id="{{ scene.sceneId }}" class="hidden">
  <div *ngIf="userHasSeenIntro" class="close-button" (click)="closeButton()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 226.09 55"
      preserveAspectRatio="xMidYMid meet"
      pointer-events="none"
    >
      <g
        id="Item-close-button"
        transform="translate(909.959 5.999) rotate(90)"
      >
        <path
          id="Button_Shape"
          class="cls-1"
          d="M221.09,50H18.041L.1,25l-.1.134V0H221.09V50Z"
          transform="translate(-3.499 907.459) rotate(-90)"
        />
        <text
          id="Close_Text"
          class="cls-2"
          transform="translate(35.001 796.959) rotate(-90)"
        >
          <tspan x="-58.16" y="0">Schließen</tspan>
        </text>
      </g>
    </svg>
  </div>
  <div class="play-button-container">
    <img
      *ngIf="checkVideoPlaying()"
      class="playButton"
      src="assets/pictures/Play_Button.png"
    />
  </div>
  <app-movie-video
    *ngFor="let video of scene.videoSequence"
    [scene]="scene"
    [video]="video"
    [sceneActive]="sceneActive"
    (endedVideo)="onVideoEnded($event)"
  ></app-movie-video>
  <app-movie-decision
    *ngFor="let decision of decisionArray"
    [scene]="scene"
    [decision]="decision"
    [decisionArray]="userDecision"
    [currentDecision]="currentDecision"
    (decisionClick)="onDecisionClick($event)"
  ></app-movie-decision>
</div>
