<div class="movie-scene-container">
  <div id="{{ interaction.sceneId }}" class="hidden">
    <app-movie-video
      *ngFor="let video of interaction.videoSequence"
      [interaction]="interaction"
      [video]="video"
      [sceneActive]="sceneActive"
      (endedVideo)="onVideoEnded($event)"
    ></app-movie-video>
    <app-movie-decision
      *ngFor="let decision of decisionArray"
      [interaction]="interaction"
      [decision]="decision"
      [decisionArray]="userDecision"
      [currentDecision]="currentDecision"
      (decisionClick)="onDecisionClick($event)"
    ></app-movie-decision>
  </div>
</div>
