<div class="timeline-container">
    <div style="z-index: 1;" class="timeline-wrapper">
        <div class="bar">
        </div>
        <div class="test">
            <div id="objects" class="objects">
            </div>
            <img *ngIf="interactionClicked" id="a" src="assets\pictures\room\Timeline_Objects\object_1.png" alt="">
            <img id="b" src="assets\pictures\room\Timeline_Objects\object_2.png" alt="">
            <img id="c" src="assets\pictures\room\Timeline_Objects\object_3.png" alt="">
            <img id="d" src="assets\pictures\room\Timeline_Objects\object_4.png" alt="">
            <img id="e" src="assets\pictures\room\Timeline_Objects\object_4.png" alt="">
            <img id="f" src="assets\pictures\room\Timeline_Objects\object_3.png" alt="">
            <img id="g" src="assets\pictures\room\Timeline_Objects\object_2.png" alt="">
            <img id="h" src="assets\pictures\room\Timeline_Objects\object_1.png" alt="">
        </div>
    </div>
</div>
