<div id="timeline-container" (click)="slide()" class="timeline-container">
  <div id="bar" class="bar"></div>
  <div class="bar-overlay"></div>
  <div id="objects" class="objects"></div>
  <app-timeline-object [objectName]="'Unterhose'"></app-timeline-object>
  <app-timeline-object [objectName]="'Bier'"></app-timeline-object>
  <app-timeline-object [objectName]="'Jacke'"></app-timeline-object>
  <app-timeline-object [objectName]="'Einkaufszettel'"></app-timeline-object>
  <app-timeline-object [objectName]="'Handy'"></app-timeline-object>
  <app-timeline-object [objectName]="'Computer'"></app-timeline-object>
  <app-timeline-object [objectName]="'Zeitung'"></app-timeline-object>
  <app-timeline-object [objectName]="'Nummer'"></app-timeline-object>
</div>