<div
  class="interaction"
  [id]="interaction.interactionId"
  [ngStyle]="setInteractionStyle()"
>
  <!--Hover Layer-->
  <img
    [id]="interaction.interactionId + '_hoverLayer'"
    class="hoverLayerElement"
    [src]="interaction.hoverLayerElementPath"
  />
  <!--Image Layer-->
  <div *ngIf="!interactionClicked">
    <img
      *ngFor="let image of interactionImages; index as i"
      [src]="image"
      alt=""
      [ngClass]="getClass(i)"
      [ngStyle]="getImageStyle()"
    />
  </div>
  <img
    *ngIf="interactionClicked"
    [src]="
      interactionService.getPathToImageForClickedInteraction(
        interaction.interactionName,
        interaction.interactionId,
        interactionDecision
      )
    "
    alt=""
    class="complete"
  />
  <!--Click Layer-->
  <div
    *ngFor="let cle of interaction.clickLayerElements; index as i"
    class="clickLayerElement"
    [id]="interaction.interactionId + '_clickLayer_Object' + i"
    [ngStyle]="getClickLayerStyle(i)"
    (click)="clickedInteraction()"
    (mouseover)="mouseOver()"
  ></div>
</div>
